<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gft.app.dao.AqMenuMapper" >
  <resultMap id="BaseResultMap" type="com.gft.app.domain.AqMenu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
    <result column="menuname" property="menuname" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="ordernum" property="ordernum" jdbcType="INTEGER" />
    <result column="scrq" property="scrq" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parentid, menuname, url, description, ordernum, scrq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from aq_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from aq_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gft.app.domain.AqMenu" >
    insert into aq_menu (id, parentid, menuname, 
      url, description, ordernum, 
      scrq)
    values (#{id,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{menuname,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{ordernum,jdbcType=INTEGER}, 
      #{scrq,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gft.app.domain.AqMenu" >
    insert into aq_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="menuname != null" >
        menuname,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="ordernum != null" >
        ordernum,
      </if>
      <if test="scrq != null" >
        scrq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="menuname != null" >
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="scrq != null" >
        #{scrq,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gft.app.domain.AqMenu" >
    update aq_menu
    <set >
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="menuname != null" >
        menuname = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="scrq != null" >
        scrq = #{scrq,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gft.app.domain.AqMenu" >
    update aq_menu
    set parentid = #{parentid,jdbcType=VARCHAR},
      menuname = #{menuname,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      ordernum = #{ordernum,jdbcType=INTEGER},
      scrq = #{scrq,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>